tmp/
temp/
reference/
__pycache__/

opencode.json
.opencode/*
!.opencode/skills/
!.opencode/commands/
!.opencode/plugin/

.codex/*
!.codex/skills/
!.codex/lang-tutor/
!.codex/hooks.json

.claude/*
!.claude/commands/
!.claude/skills/
!.claude/lang-tutor/

